*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --bk-font-family: 'Poppins', sans-serif;
  --bk-primary: #e03535;
  --bk-foreground: #333;
  --bk-background: #f7f7f7;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--bl-foreground);
  background: var(--bk-background);
  font-family: var(--bk-font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}